<div>
  <app-topbar></app-topbar>

  <app-header></app-header>

  <app-hero></app-hero>
  
  <main id="main">
    <app-about-section></app-about-section>
    <app-whyus-section></app-whyus-section>
    <app-menu-section></app-menu-section>
    <app-specials-section></app-specials-section>
    <app-events-section></app-events-section>
    <app-booking-section></app-booking-section>
    <app-testimonials-section></app-testimonials-section>
    <app-gallery-section></app-gallery-section>
    <app-chefs-section></app-chefs-section>
    <app-contact-section></app-contact-section>
  </main>

  <app-footer></app-footer>
</div>